<table>
  <tbody>
    <tr>
      <th>Tracker Name für UseCases</th>
      <td>
        <input type="text" id="settings_tracker_usecase"
                           value="<%= settings['tracker_usecase'] %>"
                           name="settings[tracker_usecase]" >
      </td>
    </tr>
    <tr>
      <th>Tracker Name für Systemdienste</th>
      <td>
        <input type="text" id="settings_tracker_systemservice"
                           value="<%= settings['tracker_systemservice'] %>"
                           name="settings[tracker_systemservice]" >
      </td>
    </tr>
    <tr>
      <th>Tracker Name für Spezifikations-Tickets</th>
      <td>
        <input type="text" id="settings_tracker_specification"
                           value="<%= settings['tracker_specification'] %>"
                           name="settings[tracker_specification]" >
      </td>
    </tr>
    <tr>
      <th>Tracker Name für Entwicklungs-Tickets</th>
      <td>
        <input type="text" id="settings_tracker_todo"
                           value="<%= settings['tracker_todo'] %>"
                           name="settings[tracker_todo]" >
      </td>
    </tr>
    <tr>
      <th>CustomField Name für Iteration in Versionen</th>
      <td>
        <input type="text" id="settings_version_field"
                           value="<%= settings['version_field'] %>"
                           name="settings[version_field]" >
      </td>
    </tr>
  </tbody>
</table>
